
<div class="row">
  <div class="col-md-6">
    <div class="mb-3">
      <label for="" class="form-label">Numero1</label>
      <input [(ngModel)]="num1" type="text" name="num1" placeholder="Numero1" class="form-control">
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Numero2</label>
      <input [(ngModel)]="num2" type="text" name="num2" placeholder="Numero2" class="form-control">
    </div>
    <div class="mb-3">
      <button (click)="suma()" class="btn btn-primary">Calcular</button>
    </div>
  </div>
  <div class="col-md-6" style="border-left: solid gainsboro 2px;">
    <h2>La suma es: {{resp}}</h2>
  </div>
</div>
